html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5em;
  color: rgba(0,0,0,.85);
  font-weight: 500
}

.el-menu-item, .el-submenu__title,
.el-submenu .el-menu-item {
  height: 48px;
  line-height: 48px;
}

.el-form .el-form-item__content .el-select {
  width: 100%;
}

.el-pagination {
  text-align: right;
}
