@import "./variables.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-variant: tabular-nums;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5em;
  color: rgba(0,0,0,.85);
  font-weight: 500
}

.el-menu-item, .el-submenu__title,
.el-submenu .el-menu-item {
  height: 48px;
  line-height: 48px;
}

.el-input {
  .el-input-group__append,
  .el-input-group__prepend {
    background-color: $--input-background-color;
  }
}

.el-input-number__increase,
.el-input-number__decrease {
  background-color: $--input-background-color;
}

.el-form {
  .el-form-item__label {
    color: rgba(0, 0, 0, 0.85);
  }
  .el-form-item__content {
    .el-select,
    .el-range-editor--small.el-input__inner,
    .el-date-editor--time.el-input {
      width: 100%;
    }

    .el-button--small {
      font-size: 14px;
    }
  }
}

.el-pagination {
  text-align: right;
}

.el-dialog {
  .el-dialog__close {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.45);
  }

  .el-dialog__header {
    border-bottom: 1px solid #e8e8e8;
  }

  .el-dialog__footer {
    border-top: 1px solid #e8e8e8;
    padding-bottom: 10px;
  }
}

.el-table {
  &.el-table--enable-row-hover {
    .el-table__body-wrapper {
      .el-table__body {
        tbody {
          tr {
            &:hover {
              td {
                background-color: $--background-color-base;
              }
            }
          }
        }
      }
    }
  }

  th {
    & > .cell {
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
    }
  }

  td {
    border-bottom: 1px solid #e8e8e8;
  }

  .el-table__header-wrapper {
    .el-table__header {
      tr {
        th {
          background-color: #fafafa;
        }
      }
    }
  }
  .el-table__body {
    .el-table__row {
      .el-button {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .el-table__footer-wrapper {
    tbody {
      tr {
        &:hover {
          td {
            background-color: $--background-color-base;
          }
        }
      }
      td {
        background-color: #fff;
        font-weight: 600;
      }
    }
  }
}

.el-alert {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
}

.el-alert--info {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff !important;

  .el-alert__icon {
    color:#1890ff;
  }

  .el-alert__content {
    .el-alert__closebtn {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}

.el-card__header {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
