@import "./variables.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5em;
  color: rgba(0,0,0,.85);
  font-weight: 500
}

.el-menu-item, .el-submenu__title,
.el-submenu .el-menu-item {
  height: 48px;
  line-height: 48px;
}

.el-form {
  .el-form-item__label {
    color: rgba(0, 0, 0, 0.85);
  }
  .el-form-item__content {
    .el-select {
      width: 100%;
    }
  }
}

.el-pagination {
  text-align: right;
}

.el-dialog {
  .el-dialog__close {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.45);
  }

  .el-dialog__header {
    border-bottom: 1px solid #e8e8e8;
  }

  .el-dialog__footer {
    border-top: 1px solid #e8e8e8;
    padding-bottom: 10px;
  }
}

.el-table {
  th {
    & > .cell {
      color: rgba(0, 0, 0, 0.85);
      font-weight: 500;
    }
  }
  .el-table__body {
    .el-table__row {
      .el-button {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.el-alert {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
}

.el-alert--info {
  border: 1px solid #91d5ff;
  background-color: #e6f7ff;

  .el-alert__icon {
    color:#1890ff;
  }

  .el-alert__content {
    .el-alert__closebtn {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
