@import "~setaria-ui/packages/theme-chalk/src/common/var";

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~setaria-ui/lib/theme-chalk/fonts';

$--border-color-split: #e8e8e8;
$--background-color-base: #e6f7ff;

$--input-background-color: #fafafa;

$--xs: 576px;

$--heading-color: $--color-text-primary;

